<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">
  <meta name="viewport" content="width=device-width" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">
  <title style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">{{TITLE}}</title>


</head>

<body itemscope="" itemtype="http://schema.org/EmailMessage" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background-color: #f6f6f6; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; height: 100%; line-height: auto; margin: 0; width: 100% !important;">
  <style type="text/css" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;"></style>
  <table class="body-wrap" style="background-color: #f6f6f6; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; width: 100%;">
    <tbody>
      <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">
        <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; vertical-align: top;"></td>
        <td class="container" style="box-sizing: border-box; clear: both !important; display: block !important; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 auto !important; max-width: 600px !important; vertical-align: top;" width="600">
          <div class="content" style="box-sizing: border-box; display: block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 auto; max-width: 600px; padding: 20px;">
            <table class="main" style="background-color: #fff; border: 1px solid #e9e9e9; border-radius: 3px; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;" cellpadding="0" cellspacing="0" width="100%">
              <tbody>
                <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">
                  <td class="header" style="background-color: #C09A4E; border-radius: 3px 3px 0 0; box-sizing: border-box; color: #fff; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 500; margin: 0; margin-bottom: 20px; padding: 20px; text-align: center; vertical-align: top; width: 100%;">
                    {{TITLE}}
                  </td>
                </tr>
                <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">
                  <td class="content-wrap" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 20px; vertical-align: top;">
                    <table style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">
                          <td class="content-block" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0 0 20px; vertical-align: top;">
                            <!-- Content Goes Here -->
                            {{CONTENT}}
                            <p class="aligncenter" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; margin: 0; margin-bottom: 15px; margin-top: 10px; text-align: center;"><a class="btn-primary" href="{{ACTION-LINK}}" style="background-color: #896E38; border: solid #896E38; border-radius: 5px; border-width: 10px 20px; box-sizing: border-box; color: #FFF; cursor: pointer; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; line-height: 2; margin: 0; text-align: center; text-decoration: none; text-transform: capitalize;">
                            	{{ACTION-TEXT}}</a></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="footer" style="box-sizing: border-box; clear: both; color: #999; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 20px; width: 100%;">
              <table style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;" width="100%">
                <tbody>
                  <tr style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0;">
                    <td class="aligncenter content-block" style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; margin: 0; padding: 0 0 20px; text-align: center; vertical-align: top;">
                      {{FOOTER}} |
                      <a class="unsubscribe" href="{{LINK}}" title="Manage Subscriptions" style="box-sizing: border-box; color: #999; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; margin: 0; text-decoration: underline;">
										{{UNSUBSCRIBE}}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </td>
        <td style="box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; vertical-align: top;"></td>
      </tr>
    </tbody>
  </table>


</body>

</html>